.wrapper {
  position: absolute;
  z-index: -1;

  width: 100%;

  height: 100%;

  margin: 0;
  background-size:
    36px 36px,
    36px 36px,
    144px 144px,
    144px 144px;
}

.gray {
  background-image:
    linear-gradient(to right, var(--color-grid-gray) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-grid-gray) 1px, transparent 1px),
    linear-gradient(to right, var(--color-grid-gray) 1px, transparent 2px),
    linear-gradient(to bottom, var(--color-grid-gray) 1px, transparent 2px);
}

.blue {
  background-image:
    linear-gradient(to right, var(--color-grid-blue) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-grid-blue) 1px, transparent 1px),
    linear-gradient(to right, var(--color-grid-blue) 1px, transparent 2px),
    linear-gradient(to bottom, var(--color-grid-blue) 1px, transparent 2px);
}
