.wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-10);

  height: fit-content;
}

.text {
  padding: 4px 0;
}

.line {
  width: 3px;
  min-width: 3px;
  max-width: 3px;

  background: var(--color-main-purple);

  align-self: stretch;
}
