.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    min-width: 64px;
    max-width: 64px;

    height: 64px;
    min-height: 64px;
    max-height: 64px;

    background: var(--color-main-blue);
    border-radius: var(--border-radius-15);
}