.wrapper {
  display: flex;
  align-items: center;

  width: fit-content;

  padding: var(--spacing-9) var(--spacing-20);

  color: var(--color-main-white);

  border-radius: var(--border-radius-20);
  border: 2px solid var(--color-main-white);
  white-space: nowrap;
}
