.wrapper {
  position: absolute;
  z-index: 100;

  width: 100%;

  border-radius: var(--border-radius-15);

  transform: translateY(-30px);

  animation: expand 0.3s ease-out;
  overflow: hidden;
}

.wrapper.closing {
  animation: collapse 0.3s ease-in forwards;
}

@keyframes expand {
  from {
    max-height: 0;

    opacity: 0;
  }

  to {
    max-height: 250px;

    opacity: 1;
  }
}

@keyframes collapse {
  from {
    max-height: 250px;

    opacity: 1;
  }

  to {
    max-height: 0;

    opacity: 0;
    visibility: hidden;
  }
}

.content {
  width: 100%;

  max-height: 220px;

  overflow-y: auto;
  scrollbar-width: none;
}

.plate {
  width: 100%;

  min-height: 30px;

  background: var(--color-main-white);
}

.empty_wrapper {
  display: flex;
  align-items: center;

  width: 100%;

  padding: var(--spacing-10) var(--spacing-20);

  color: var(--color-main-black);

  background: var(--color-main-white);
}
