.wrapper{
    display: flex;
    align-items: center;

    width: fit-content;

    border-radius: var(--border-radius-20);

    transition: .2s all;
    white-space: nowrap;
}

.purple{
    height: 35px;

    padding: var(--spacing-9) var(--spacing-20);

    color: var(--color-main-white);

    background: var(--color-main-purple);
}

.purple:hover{
    background: var(--color-light-purple);
}

.purple:active{
    background: var(--color-click-purple);
}

.pink{
    height: fit-content;

    padding: var(--spacing-10) var(--spacing-22);

    color: var(--color-main-white);

    background: var(--color-main-pink);
}

.pink:hover{
    background: var(--color-light-pink);
}

.pink:active{
    background: var(--color-click-pink);
}

.blue{
    height: fit-content;

    padding: var(--spacing-9) var(--spacing-20);

    color: var(--color-main-white);

    background: var(--color-main-blue);
}

.blue:hover{
    background: var(--color-light-blue);
}

.blue:active{
    background: var(--color-click-blue);
}

.orange{
    height: 35px;

    padding: var(--spacing-9) var(--spacing-20);

    color: var(--color-main-orange);

    background: var(--color-main-main-white);
    border: 1.5px solid var(--color-main-orange);
}

.orange:hover{
    color: var(--color-main-white);

    background: var(--color-main-orange);
}

.orange:active{
    background: var(--color-click-orange);
    border-color: var(--color-click-orange);
}