.wrapper {
  display: flex;
  align-items: center;

  width: fit-content;

  border-radius: var(--border-radius-20);

  transition: 0.2s all;
  white-space: nowrap;
}

.purple {
  height: 35px;

  padding: var(--spacing-9) var(--spacing-20);

  color: var(--color-main-white);

  background: var(--color-main-purple);
}

.purple:active {
  background: var(--color-click-purple);
}

.pink {
  height: fit-content;

  padding: var(--spacing-10) var(--spacing-22);

  color: var(--color-main-white);

  background: var(--color-main-pink);
}

.pink:active {
  background: var(--color-click-pink);
}

.blue {
  height: fit-content;

  padding: var(--spacing-9) var(--spacing-20);

  color: var(--color-main-white);

  background: var(--color-main-blue);
}

.blue:active {
  background: var(--color-click-blue);
}

.orange_l {
  height: 40px;

  padding: var(--spacing-9) var(--spacing-20);

  color: var(--color-main-orange);

  background: var(--color-main-main-white);
  border: 1.5px solid var(--color-main-orange);
}

.orange_s {
  height: 35px;

  padding: var(--spacing-9) var(--spacing-20);

  color: var(--color-main-orange);

  background: var(--color-main-main-white);
  border: 1.5px solid var(--color-main-orange);
}

.orange_l:active, .orange_s:active {
  background: var(--color-click-orange);
  border-color: var(--color-click-orange);
}

@media (hover: hover) and (pointer: fine) {
  .purple:hover {
    background: var(--color-light-purple);
  }

  .pink:hover {
    background: var(--color-light-pink);
  }

  .blue:hover {
    background: var(--color-light-blue);
  }

  .orange_l:hover , .orange_s:active{
    color: var(--color-main-white);

    background: var(--color-main-orange);
  }
}

@media (hover: none) and (pointer: coarse) {
  .purple:active {
    background: var(--color-light-purple);
  }

  .pink:active {
    background: var(--color-light-pink);
  }

  .blue:active {
    background: var(--color-light-blue);
  }

  .orange_l:active, .orange_s:active {
    color: var(--color-main-white);

    background: var(--color-main-orange);
  }
}
