@font-face {
  font-family: Inter;
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("./fonts/Inter.var.woff2?v=3.12") format("woff2");
}

:root {
  --color-white-5: rgb(255 255 255 / 5%);
  --color-white-7: rgb(255 255 255 / 7%);
  --color-white-40: rgb(255 255 255 / 40%);
  --color-white: rgb(255 255 255 / 100%);
  --color-white-10: rgb(255 255 255 / 10%);
  --color-white-50: rgb(255 255 255 / 50%);
  --color-white-80: rgb(255 255 255 / 80%);
  --color-black-0: rgb(0 0 0 / 0%);
  --color-black-5: rgb(0 0 0 / 5%);
  --color-black-10: rgb(0 0 0 / 10%);
  --color-black-20: rgb(0 0 0 / 20%);
  --color-black-50: rgb(0 0 0 / 40%);
  --color-black-70: rgb(0 0 0 / 70%);
  --color-gray: rgb(245 245 247 / 100%);
  --color-gray-hover: rgb(235 235 237 / 100%);
  --color-white-nonaccent: rgb(255 255 255 / 50%);
  --color-white-bg: rgb(255 255 255 / 5%);
  --color-black: rgb(0 0 0 / 100%);
  --color-black-inactive: rgb(0 0 0 / 40%);
  --color-black-nonaccent: rgb(0 0 0 / 50%);
  --color-black-border: rgb(0 0 0 / 10%);
  --color-black-bg: rgb(0 0 0 / 5%);
  --color-blue: rgb(12 122 255 / 100%);
  --color-blue-dark: rgb(0 102 235 / 100%);
  --color-red: rgb(255 55 0 / 100%);
  --color-orange: rgb(255 102 0 / 100%);
  --color-orange-dark: rgb(235 82 0 / 100%);
  --color-purple: rgb(166 12 207 / 100%);
  --color-green: rgb(0 196 85 / 100%);
  --color-gray-inactive: rgb(20 20 20 / 70%);
  --color-gray-active: rgb(20 20 20 / 100%);
  --color-darkest-gray: rgb(22 22 22 / 100%);
  --color-darker-gray: rgb(30 30 30 / 70%);
  --color-dark-gray: rgb(58 58 58 / 100%);
  --color-gray-nonaccent: rgb(204 204 204 / 100%);

  /* --color-gray: rgb(225 225 227 / 100%); */
  --color-gray-bg: rgb(225 225 227 / 50%);
  --color-light-gray: rgb(234 234 234 / 100%);
  --color-lightest-gray: rgb(245 245 247 / 100%);
  --color-gray-button: rgb(245 245 247 / 100%);
  --color-gray-button-bg: rgb(235 235 237 / 100%);
  --color-gray-button-hover: rgb(224 224 226 / 100%);
  --color-gray-line: rgb(0 0 0 / 12%);
  --color-dark-gray-button: rgb(20 20 20 / 100%);

  /* Font Size */
  --font-size-body-b3: 14px;
  --font-size-body-b2: 16px;
  --font-size-body-b1: 20px;
  --font-size-captions-c2: 10px;
  --font-size-captions-c1: 11px;
  --font-size-headers-h4: 24px;
  --font-size-headers-h3: 32px;
  --font-size-headers-h2: 48px;
  --font-size-headers-h1: 64px;
  --font-size-subheaders-sh3: 14px;
  --font-size-subheaders-sh2: 16px;
  --font-size-subheaders-sh1: 20px;

  /* Font Weight */
  --font-weight-captions: 400;
  --font-weight-body: 500;
  --font-weight-headers: 600;
  --font-weight-subheaders: 600;

  /* Letter Spacing */
  --letter-spacing-body-b1: -0.4px;
  --letter-spacing-body-b2: -0.3px;
  --letter-spacing-body-b3: -0.2px;
  --letter-spacing-captions-c1: -0.1px;
  --letter-spacing-captions-c2: 0.5px;
  --letter-spacing-headers-h1: -3px;
  --letter-spacing-headers-h2: -2px;
  --letter-spacing-headers-h3: -1px;
  --letter-spacing-headers-h4: -1px;
  --letter-spacing-subheaders-sh1: -0.4px;
  --letter-spacing-subheaders-sh2: -0.3px;
  --letter-spacing-subheaders-b2: -0.2px;
  --letter-spacing-subheaders-sh3: -0.2px;

  /* Line Height */
  --line-height-body-b3: 16px;
  --line-height-body-b2: 20px;
  --line-height-body-b1: 24px;
  --line-height-captions-c2: 12px;
  --line-height-captions-c1: 14px;
  --line-height-headers-h4: 26px;
  --line-height-headers-h3: 34px;
  --line-height-headers-h2: 48px;
  --line-height-headers-h1: 64px;
  --line-height-subheaders-sh3: 16px;
  --line-height-subheaders-sh2: 20px;
  --line-height-subheaders-sh1: 26px;

  /* Font Family */
  --font-family: 'Inter';

  /* Border Radius */
  --border-radius-1: 4px;
  --border-radius-2: 8px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-5: 20px;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-px: 1px;
  --spacing-0-5: 2px;
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;
  --spacing-14: 56px;
  --spacing-16: 64px;
  --spacing-20: 80px;
  --spacing-24: 96px;
  --spacing-28: 112px;
  --spacing-32: 128px;
  --spacing-36: 144px;
  --spacing-40: 160px;
  --spacing-44: 176px;
  --spacing-48: 192px;
  --spacing-52: 208px;
  --spacing-56: 224px;
  --spacing-60: 240px;
  --spacing-64: 256px;
  --spacing-72: 288px;
  --spacing-80: 320px;
  --spacing-96: 384px;
  --spacing-main-header: 16px;
  --spacing-main-container: 80px;

  /* Width */
  --wh-elements-min-w: 375px;
  --wh-elements-max-w1: 456px;
  --wh-elements-max-w2: 720px;
  --wh-main-min-w-breakpoint: 1080px;
  --wh-main-max-w-content: 1440px;
}

@media (max-width: 1028px) {
  :root {
    /* Font Size */
    --font-size-body-b3: 12px;
    --font-size-body-b2: 14px;
    --font-size-body-b1: 18px;
    --font-size-captions-c2: 10px;
    --font-size-captions-c1: 11px;
    --font-size-headers-h4: 20px;
    --font-size-headers-h3: 24px;
    --font-size-headers-h2: 32px;
    --font-size-headers-h1: 48px;
    --font-size-subheaders-sh4: 11px;
    --font-size-subheaders-sh3: 12px;
    --font-size-subheaders-sh2: 14px;
    --font-size-subheaders-sh1: 18px;

    /* Letter Spacing */
    --letter-spacing-body-b1: -0.25px;
    --letter-spacing-body-b2: -0.2px;
    --letter-spacing-body-b3: -0.2px;
    --letter-spacing-captions-c1: -0.1px;
    --letter-spacing-captions-c2: 0.5px;
    --letter-spacing-headers-h1: -3px;
    --letter-spacing-headers-h2: -2px;
    --letter-spacing-headers-h3: -1px;
    --letter-spacing-headers-h4: -1px;
    --letter-spacing-subheaders-sh1: -0.25px;
    --letter-spacing-subheaders-sh2: -0.2px;
    --letter-spacing-subheaders-sh3: -0.2px;
    --letter-spacing-subheaders-b2: 22px;

    /* Line Height */
    --line-height-body-b3: 16px;
    --line-height-body-b2: 20px;
    --line-height-body-b1: 22px;
    --line-height-captions-c2: 12px;
    --line-height-captions-c1: 14px;
    --line-height-headers-h4: 24px;
    --line-height-headers-h3: 28px;
    --line-height-headers-h2: 38px;
    --line-height-headers-h1: 48px;
    --line-height-subheaders-sh4: 14px;
    --line-height-subheaders-sh3: 16px;
    --line-height-subheaders-sh2: 20px;
    --line-height-subheaders-sh1: 22px;

    /* Border Radius */
    --border-radius-1: 4px;
    --border-radius-2: 8px;
    --border-radius-3: 12px;
    --border-radius-4: 16px;
    --border-radius-5: 16px;

    /* Spacing */
    --spacing-0: 0px;
    --spacing-px: 1px;
    --spacing-0-5: 2px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 20px;
    --spacing-8: 28px;
    --spacing-10: 36px;
    --spacing-12: 44px;
    --spacing-14: 48px;
    --spacing-16: 56px;
    --spacing-20: 64px;
    --spacing-24: 80px;
    --spacing-28: 96px;
    --spacing-32: 112px;
    --spacing-36: 128px;
    --spacing-40: 144px;
    --spacing-44: 160px;
    --spacing-48: 176px;
    --spacing-52: 192px;
    --spacing-56: 208px;
    --spacing-60: 224px;
    --spacing-64: 240px;
    --spacing-72: 256px;
    --spacing-80: 288px;
    --spacing-96: 320px;
    --spacing-main-header: 8px;
    --spacing-main-container: 40px;

    /* Width */
    --wh-elements-min-w: 272px;
    --wh-elements-max-w1: 456px;
    --wh-elements-max-w2: 720px;
    --wh-main-min-w-breakpoint: 720px;
    --wh-main-max-w-content: 1440px;
  }
}

@media (max-width: 720px) {
  :root{
    /* Border Radius */
    --border-radius-1: 4px;
    --border-radius-2: 8px;
    --border-radius-3: 12px;
    --border-radius-4: 16px;
    --border-radius-5: 16px;

    /* Spacing */
    --spacing-0: 0px;
    --spacing-px: 1px;
    --spacing-0-5: 2px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 20px;
    --spacing-8: 28px;
    --spacing-10: 36px;
    --spacing-12: 44px;
    --spacing-14: 48px;
    --spacing-16: 56px;
    --spacing-20: 64px;
    --spacing-24: 80px;
    --spacing-28: 96px;
    --spacing-32: 112px;
    --spacing-36: 128px;
    --spacing-40: 144px;
    --spacing-44: 160px;
    --spacing-48: 176px;
    --spacing-52: 192px;
    --spacing-56: 208px;
    --spacing-60: 224px;
    --spacing-64: 240px;
    --spacing-72: 256px;
    --spacing-80: 288px;
    --spacing-96: 320px;
    --spacing-main-header: 8px;
    --spacing-main-container: 24px;

    /* Width */
    --wh-elements-min-w: 272px;
    --wh-elements-max-w1: 456px;
    --wh-elements-max-w2: 720px;
    --wh-main-max-w-content: 1440px;
  }
}

h1 {
  font-family: var(--font-family);
  font-size: var(--font-size-headers-h1);
  font-weight: var(--font-weight-headers);
  line-height: var(--line-height-headers-h1);
  letter-spacing: var(--letter-spacing-headers-h1);
}

h2 {
  font-family: var(--font-family);
  font-size: var(--font-size-headers-h2);
  font-weight: var(--font-weight-headers);
  line-height: var(--line-height-headers-h2);
  letter-spacing: var(--letter-spacing-headers-h2);
}

h3 {
  font-family: var(--font-family);
  font-size: var(--font-size-headers-h3);
  font-weight: var(--font-weight-headers);
  line-height: var(--line-height-headers-h3);
  letter-spacing: var(--letter-spacing-headers-h3);
}

h4 {
  font-family: var(--font-family);
  font-size: var(--font-size-headers-h4);
  font-weight: var(--font-weight-headers);
  line-height: var(--line-height-headers-h4);
  letter-spacing: var(--letter-spacing-headers-h4);
}

.text_body_b1{
  font-family: var(--font-family);
  font-size: var(--font-size-body-b1);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body-b1);
  letter-spacing: var(--letter-spacing-body-b1);
}

.text_body_b2{
  font-family: var(--font-family);
  font-size: var(--font-size-body-b2);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body-b2);
  letter-spacing: var(--letter-spacing-body-b2);
}

.text_body_b3{
  font-family: var(--font-family);
  font-size: var(--font-size-body-b3);
  font-weight: var(--font-weight-body);
  line-height: var(--line-height-body-b3);
  letter-spacing: var(--letter-spacing-body-b3);
}

.text_captions_c1{
  font-family: var(--font-family);
  font-size: var(--font-size-captions-c1);
  font-weight: var(--font-weight-captions);
  line-height: var(--line-height-captions-c1);
  letter-spacing: var(--letter-spacing-captions-c1);
}

.text_captions_c2{
  font-family: var(--font-family);
  font-size: var(--font-size-captions-c2);
  font-weight: var(--font-weight-headers);
  line-height: var(--line-height-captions-c2);
  letter-spacing: var(--letter-spacing-captions-c2);
}

.text_subheaders_sh1{
  font-family: var(--font-family);
  font-size: var(--font-size-subheaders-sh1);
  font-weight: var(--font-weight-subheaders);
  line-height: var(--line-height-subheaders-sh1);
  letter-spacing: var(--letter-spacing-subheaders-sh1);
}

.text_subheaders_sh2{
  font-family: var(--font-family);
  font-size: var(--font-size-subheaders-sh2);
  font-weight: var(--font-weight-subheaders);
  line-height: var(--line-height-subheaders-sh2);
  letter-spacing: var(--letter-spacing-subheaders-sh2);
}

.text_subheaders_sh3{
  font-family: var(--font-family);
  font-size: var(--font-size-subheaders-sh3);
  font-weight: var(--font-weight-subheaders);
  line-height: var(--line-height-subheaders-sh3);
  letter-spacing: var(--letter-spacing-subheaders-sh3);
}

.text_subheaders_sh4{
  font-family: var(--font-family);
  font-size: var(--font-size-subheaders-sh4);
  font-weight: var(--font-weight-subheaders);
  line-height: var(--line-height-subheaders-sh4);
}