.wrapper {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-25);

  width: 100%;

  padding: var(--spacing-40) var(--spacing-50);

  background: var(--color-main-blue);
  border-radius: var(--border-radius-15) var(--border-radius-15) 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
}

.content > p {
  color: var(--color-main-white);
  white-space: nowrap;
}

@media (max-width: 720px) {
  .wrapper {
    flex-direction: column;
  }

  .content {
    align-items: center;
  }
}
