.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);

  width: 100%;

  padding: var(--spacing-10) var(--spacing-20);

  color: var(--color-main-black);

  background: var(--color-main-white);

  transition: background 0.2s;
}

.wrapper:visited {
  color: var(--color-main-black);
}

@media (hover: hover) and (pointer: fine) {
  .wrapper:hover {
    background: var(--color-light-blue);
  }
}

@media (hover: none) and (pointer: coarse) {
  .wrapper:active {
    background: var(--color-light-blue);
  }
}
