.wrapper {
  display: flex;
  align-items: center;

  width: 100%;

  padding: var(--spacing-15);

  background: var(--color-main-main-white);

  transition: all 0.2s;
}

@media (hover: hover) and (pointer: fine) {
  .wrapper:hover {
    background: var(--color-light-blue);
  }
}

@media (hover: none) and (pointer: coarse) {
  .wrapper:active {
    background: var(--color-light-blue);
  }
}

.wrapper:active {
  color: var(--color-main-white);

  background: var(--color-main-blue);
}

.wrapper.active {
  color: var(--color-main-white);

  background: var(--color-main-blue);
}
