.wrapper {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-15);

  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-15);
}

.title {
  max-width: 760px;
}

.wrapper > a {
  white-space: nowrap;
}
