.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-15);

  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-15);

  width: 100%;
}

.content > :last-child {
  margin-left: auto;
  align-self: flex-start;
}

.title {
  max-width: 760px;
}

.wrapper > a {
  white-space: nowrap;
}
