.wrapper {
  display: flex;
  align-items: center;

  width: fit-content;

  height: 35px;

  padding: var(--spacing-20);

  background: var(--color-main-white);
  border-radius: var(--border-radius-20);
}

.text {
  color: var(--color-main-blue);
}
