.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-45);

    width: 100%;
    max-width: 485px;

    padding: 0 var(--spacing-50);
}

.text_wrapper{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-15);

    text-align: center;
}

.buttons_wrapper{
    display: flex;
    gap: var(--spacing-15);
}