.wrapper{
    padding: var(--spacing-5) var(--spacing-15);

    color: var(--color-white);

    background: var(--color-blue);
    border-radius: var(--border-radius-20);

    transition: all .2s;
    border: 1.5px solid var(--color-blue);
}

.wrapper:hover{
    border-color: var(--color-white)
}

.wrapper:active{
    color: var(--color-blue);

    background: var(--color-white);
}