body {
  min-height: 100vh;

  background: var(--color-main-main-white);
}

* {
  cursor: none;
}

button,
input {
  background: transparent;
  outline: 0;
  border: 0;
}

*:focus-visible:not(input),
*:focus-visible:not(textarea) {
  outline: 2px solid var(--color-main-purple);
  outline-offset: 2px;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: 0;
}

video::-webkit-media-controls,
video::-webkit-media-controls-panel,
video::-webkit-media-controls-enclosure,
video::-webkit-media-controls-start-playback-button,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-time-control,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-rewind-button,
video::-webkit-media-controls-return-to-realtime-button,
video::-webkit-media-controls-toggle-closed-captions-button,
video::-webkit-media-controls-overlay-enclosure {
  cursor: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

mark {
  background: transparent;
}

.page,
.page_styleguide {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-85);

  min-height: 100vh;
}

.page_styleguide {
  background: var(--color-main-white);
}

.header_content_gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-25);

  width: 100%;
}

.header_tests_content_gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-100);

  width: 100%;
}

.materials_columns {
  display: grid;
  gap: var(--spacing-35);

  max-width: var(--max-width-content);

  padding: 0 var(--spacing-50);
  grid-template-columns: 1fr 4fr 1fr;
}

.cases_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-25);
}

.materials_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-25);

  max-width: var(--max-width-content);

  padding: 0 var(--spacing-50);
}

.preview_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-85);

  width: 100%;

  max-width: var(--max-width-content);

  padding: 0 var(--spacing-50);
}

.styleguide_columns {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-165);

  width: 100%;
  max-width: var(--max-width-content);

  padding: 0 var(--spacing-50);
}

.styleguide_content_wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-165);

  width: 100%;
  max-width: 883px;
}

.position_right {
  display: flex;
  justify-content: flex-end;

  width: 100%;
  max-width: var(--max-width-item);
}

.styleguide_section_image {
  width: 100%;
  max-width: 883px;
}

.styleguide_section_image svg {
  display: block;

  width: 100%;

  height: 100%;
  object-fit: contain;
}

@media (max-width: 967px) {
  .materials_columns {
    display: flex;
  }
}

@media (max-width: 1440px) {
  .styleguide_columns {
    padding: 0 var(--spacing-20);
  }
}

@media (max-width: 768px) {
  .styleguide_columns {
    flex-direction: column;

    padding: 0 var(--spacing-15);
  }

  .styleguide_columns > div:first-child {
    width: 100% !important;

    margin-bottom: var(--spacing-30);
  }
}
