:root {
  /* Colors */
  --color-main-white: rgb(255 255 255 / 100%);
  --color-main-main-white: rgb(242 242 242 / 100%);
  --color-main-grid: rgb(226 226 226 / 100%);
  --color-main-black: rgb(0 0 0 / 100%);
  --color-main-blue: rgb(66 29 255 / 100%);
  --color-main-purple: rgb(149 42 255 / 100%);
  --color-main-pink: rgb(255 61 148 / 100%);
  --color-main-orange: rgb(246 71 4 / 100%);
  --color-light-blue: rgb(185 201 255 / 100%);
  --color-light-purple: rgb(212 197 255 / 100%);
  --color-light-purple-2: rgb(188 164 255 / 100%);
  --color-light-pink: rgb(255 163 214 / 100%);
  --color-light-orange: rgb(255 165 88 / 100%);
  --color-click-blue: rgb(34 83 255 / 100%);
  --color-click-purple: rgb(182 109 255 / 100%);
  --color-click-pink: rgb(255 125 197 / 100%);
  --color-click-orange: rgb(255 119 51 / 100%);
  --color-white-gradient: linear-gradient(
    to bottom,
    rgb(255 255 255 / 0%) 0%,
    rgb(255 255 255 / 0%) 13%,
    rgb(255 255 255 / 58%) 48%,
    rgb(255 255 255 / 80%) 64%,
    rgb(255 255 255 / 91%) 79%,
    rgb(255 255 255 / 100%) 100%
  );
  --color-grid-gray: rgb(226 226 226 / 100%);
  --color-grid-blue: rgb(113 64 255 / 100%);

  /* Spacing */
  --spacing-3: 3px;
  --spacing-5: 5px;
  --spacing-8: 8px;
  --spacing-9: 9px;
  --spacing-10: 10px;
  --spacing-15: 15px;
  --spacing-20: 20px;
  --spacing-22: 22px;
  --spacing-25: 25px;
  --spacing-30: 30px;
  --spacing-35: 35px;
  --spacing-40: 40px;
  --spacing-45: 45px;
  --spacing-50: 50px;
  --spacing-73: 73px;
  --spacing-85: 85px;
  --spacing-100: 100px;
  --spacing-130: 130px;
  --spacing-165: 165px;
  --spacing-300: 300px;

  /* Border Radius */
  --border-radius-15: 15px;
  --border-radius-20: 20px;

  /* Font Family */
  --font-family-inter: 'Inter', sans-serif;
  --font-family-inter-tight: 'Inter Tight', sans-serif;
  --font-family-hauora: 'Hauora', sans-serif;

  /* Font Weight */
  --font-weight-headers: 500;
  --font-weight-body-1: 500;
  --font-weight-body-2: 400;
  --font-weight-captions: 500;
  --font-weight-buttons: 500;

  /* Line Height */
  --font-line-height-headers: 1.2;
  --font-line-height-body-1: 1.2;
  --font-line-height-body-2: 1.2;
  --font-line-height-captions: 1.2;
  --font-line-height-buttons: 1.2;

  /* Letter Spacing */
  --font-letter-spacing-headers: 1.5%;
  --font-letter-spacing-body-1: 1.5%;
  --font-letter-spacing-body-2: 1.5%;
  --font-letter-spacing-captions: 1.5%;
  --font-letter-spacing-buttons: 1.5%;

  /* Font Size */
  --font-size-headers-1: 64px;
  --font-size-headers-2: 45px;
  --font-size-headers-3: 35px;
  --font-size-headers-4: 30px;
  --font-size-headers-5: 25px;
  --font-size-headers-6: 25px;
  --font-size-body-1: 18px;
  --font-size-body-2: 18px;
  --font-size-captions-l: 15px;
  --font-size-captions-m: 14px;
  --font-size-captions-s: 12px;
  --font-size-button-l: 18px;
  --font-size-button-s: 15px;
}

@media (max-width: 1028px) {
  :root {
    /* Font Size */
    --font-size-headers-1: 64px;
    --font-size-headers-2: 45px;
    --font-size-headers-3: 35px;
    --font-size-headers-4: 30px;
    --font-size-headers-5: 25px;
    --font-size-headers-6: 25px;
    --font-size-body-1: 18px;
    --font-size-body-2: 18px;
    --font-size-captions-l: 15px;
    --font-size-captions-m: 14px;
    --font-size-captions-s: 12px;
    --font-size-button-l: 18px;
    --font-size-button-s: 15px;

    /* Spacing */
    --spacing-3: 3px;
    --spacing-5: 5px;
    --spacing-8: 8px;
    --spacing-9: 9px;
    --spacing-10: 10px;
    --spacing-15: 15px;
    --spacing-20: 20px;
    --spacing-22: 22px;
    --spacing-25: 25px;
    --spacing-30: 28px;
    --spacing-35: 30px;
    --spacing-40: 30px;
    --spacing-45: 35px;
    --spacing-50: 40px;
    --spacing-73: 50px;
    --spacing-85: 80px;
    --spacing-100: 85px;
    --spacing-130: 90px;
    --spacing-165: 120px;
    --spacing-300: 165px;

    /* Border Radius */
    --border-radius-15: 15px;
    --border-radius-20: 20px;
  }
}

@media (max-width: 720px) {
  :root {
    /* Font Size */
    --font-size-headers-1: 40px;
    --font-size-headers-2: 23px;
    --font-size-headers-3: 23px;
    --font-size-headers-4: 20px;
    --font-size-headers-5: 20px;
    --font-size-headers-6: 17px;
    --font-size-body-1: 14px;
    --font-size-body-2: 14px;
    --font-size-captions-l: 14px;
    --font-size-captions-m: 14px;
    --font-size-captions-s: 14px;
    --font-size-button-l: 15px;
    --font-size-button-s: 13px;

    /* Spacing */
    --spacing-3: 3px;
    --spacing-5: 5px;
    --spacing-8: 8px;
    --spacing-9: 9px;
    --spacing-10: 10px;
    --spacing-15: 15px;
    --spacing-20: 20px;
    --spacing-22: 20px;
    --spacing-25: 25px;
    --spacing-30: 25px;
    --spacing-35: 25px;
    --spacing-40: 15px;
    --spacing-45: 25px;
    --spacing-50: 25px;
    --spacing-73: 20px;
    --spacing-85: 70px;
    --spacing-100: 70px;
    --spacing-130: 45px;
    --spacing-165: 70px;
    --spacing-300: 25px;

    /* Border Radius */
    --border-radius-15: 10px;
    --border-radius-20: 15px;
  }
}

h1 {
  font-family: var(--font-family-inter-tight);
  font-size: var(--font-size-headers-1);
  font-weight: var(--font-weight-headers);
  line-height: var(--font-line-height-headers);
  letter-spacing: var(--font-letter-spacing-headers);
}

h2 {
  font-family: var(--font-family-inter-tight);
  font-size: var(--font-size-headers-2);
  font-weight: var(--font-weight-headers);
  line-height: var(--font-line-height-headers);
  letter-spacing: var(--font-letter-spacing-headers);
}

h3 {
  font-family: var(--font-family-inter-tight);
  font-size: var(--font-size-headers-3);
  font-weight: var(--font-weight-headers);
  line-height: var(--font-line-height-headers);
  letter-spacing: var(--font-letter-spacing-headers);
}

h4 {
  font-family: var(--font-family-inter-tight);
  font-size: var(--font-size-headers-4);
  font-weight: var(--font-weight-headers);
  line-height: var(--font-line-height-headers);
  letter-spacing: var(--font-letter-spacing-headers);
}

h5 {
  font-family: var(--font-family-hauora);
  font-size: var(--font-size-headers-5);
  font-weight: var(--font-weight-headers);
  line-height: var(--font-line-height-headers);
  letter-spacing: var(--font-letter-spacing-headers);
}

h6 {
  font-family: var(--font-family-inter-tight);
  font-size: var(--font-size-headers-5);
  font-weight: var(--font-weight-headers);
  line-height: var(--font-line-height-headers);
  letter-spacing: var(--font-letter-spacing-headers);
}

p {
  font-family: var(--font-family-hauora);
  font-size: var(--font-size-body-1);
  font-weight: var(--font-weight-body-1);
  line-height: var(--font-line-height-body-1);
  letter-spacing: var(--font-letter-spacing-body-1);
}

.text_body_2 {
  font-family: var(--font-family-hauora);
  font-size: var(--font-size-body-2);
  font-weight: var(--font-weight-body-2);
  line-height: var(--font-line-height-body-2);
  letter-spacing: var(--font-letter-spacing-body-2);
}

.text_captions_l {
  font-family: var(--font-family-hauora);
  font-size: var(--font-size-captions-l);
  font-weight: var(--font-weight-captions);
  line-height: var(--font-line-height-captions);
  letter-spacing: var(--font-letter-spacing-captions);
}

.text_captions_m {
  font-family: var(--font-family-hauora);
  font-size: var(--font-size-captions-m);
  font-weight: var(--font-weight-captions);
  line-height: var(--font-line-height-captions);
  letter-spacing: var(--font-letter-spacing-captions);
}

.text_captions_s {
  font-family: var(--font-family-hauora);
  font-size: var(--font-size-captions-s);
  font-weight: var(--font-weight-captions);
  line-height: var(--font-line-height-captions);
  letter-spacing: var(--font-letter-spacing-captions);
}

.text_captions_s_inter {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-captions-s);
  font-weight: var(--font-weight-captions);
  line-height: var(--font-line-height-captions);
  letter-spacing: var(--font-letter-spacing-captions);
}

.text_button_l {
  font-family: var(--font-family-hauora);
  font-size: var(--font-size-button-l);
  font-weight: var(--font-weight-buttons);
  line-height: var(--font-line-height-buttons);
  letter-spacing: var(--font-letter-spacing-buttons);
}

.text_button_s {
  font-family: var(--font-family-hauora);
  font-size: var(--font-size-button-s);
  font-weight: var(--font-weight-buttons);
  line-height: var(--font-line-height-buttons);
  letter-spacing: var(--font-letter-spacing-buttons);
}
