.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-30);

  width: 100%;
  max-width: var(--max-width-item);

  padding: var(--spacing-30);

  color: var(--color-main-white);

  background: var(--color-main-pink);
  border-radius: var(--border-radius-15);
}

.wrapper > h3 {
  max-width: 350px;
}

@media (max-width: 430px) {
  .wrapper{
    flex-direction: column;

    text-align: center;
  }
}
