.wrapper {
  display: flex;

  width: 100%;
}

.dash_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  min-width: 20px;
  max-width: 20px;

  height: 21px;
}

.dash {
  width: 12px;
  min-width: 12px;
  max-width: 12px;

  height: 1px;
  min-height: 1px;
  max-height: 1px;

  background: var(--color-main-black);
}
