.wrapper {
  display: grid;
  gap: var(--spacing-30);

  width: 100%;
    max-width: 615px;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 720px) {
  .wrapper {
    gap: var(--spacing-15);
  }
}
