.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-25);

  width: 100%;
  max-width: 905px;

  padding: var(--spacing-45) var(--spacing-130);

  background: var(--color-main-white);
  border-radius: var(--border-radius-15);
}
