.wrapper {
  padding: var(--spacing-5) var(--spacing-15);

  color: var(--color-white);

  background: var(--color-blue);
  border-radius: var(--border-radius-20);

  transition: all 0.2s;
  border: 1.5px solid var(--color-blue);
}

.wrapper:active {
  color: var(--color-blue);

  background: var(--color-white);
  border-color: var(--color-white);
}

.wrapper:focus {
  outline: 0;
  border-color: var(--color-main-white);
}

@media (hover: hover) and (pointer: fine) {
  .wrapper:hover {
    border-color: var(--color-white);
  }
}

@media (hover: none) and (pointer: coarse) {
  .wrapper:active {
    border-color: var(--color-white);
  }
}
